:root {
  --yellow: #FBF3AB;
  --light-pink: #F0B9DD;
  --lavender: #C7B9FF;
  --deep-pink: #F04C86;
  --raisin: #2B283A;
  --white: #fff;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: var(--raisin);
    background-color: var(--yellow);
    padding: 2em;
    font-family: 'Karla', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form * {
   padding: .5em;
   font-size: 1.3rem;
   font-family: inherit;       
}

form label,
form button {
   font-weight: 700;
}

form *:not(label):not(div),
.result {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    border: none;
}

select { 
    background: var(--white);
    color: var(--raisin);    
}

.result {
    background: var(--light-pink);
    color: var(--raisin);
    min-width: 270px;
    max-width: 5ch;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    font-size: 1.5rem;
}

.result span {
    color: var(--deep-pink);
    font-weight: 700;
}

button {
    color: var(--white);
    background: var(--deep-pink);
}

button:hover,
button:focus {
    transform: scale(1.02);
    cursor: pointer;  
}

/* Custom styles */
.msg-error {
    display: none;
    color: red;
    font-size: .8rem;
    text-align: center;
    padding: 0;
    margin-top: .3rem;
}
.msg-error.msg-error-active {
    display: block;
}

/* #balloon-checkbox */
.checkbox-wrapper {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

input[type="checkbox"]::after {
    content: '🎈';
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #ddd;
}

input[type="checkbox"]:checked {
    border: .1rem solid #F04C86;
}

input[type="checkbox"]:checked:after {
    display: block;
}